<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ipshita.delhi_tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Food_n_Drinks"
            android:label="Food and Drinks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Travel"
            android:label="Travel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Events"
            android:label="Events"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lifestyle"
            android:label="Lifestyle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".toptenfoods"
            android:label="Food and Drinks"
            android:parentActivityName=".Food_n_Drinks" />
        <activity android:name=".topseventravel"
            android:label="Travel"
            android:parentActivityName=".Travel"/>
        <activity android:name=".foodtrail"
            android:label="Food and Drinks"
            android:parentActivityName=".Food_n_Drinks"/>
        <activity android:name=".flowerevents"
            android:parentActivityName=".Events"
            android:label="Events"></activity>
    </application>

</manifest>